<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
    <script src="http://localhost:3000/js/themeSet.js" defer></script>
    <script src="http://localhost:3000/js/populate.js" defer></script>
    <title>Menu</title>
</head>
<body id="body">

    <div class="logo">
        <img class="logopic" id="logopic" src="" alt="">
        <h1 id="resname">Resturant Not Avaiable</h1>
    </div>
    <div class="category">
        <ul class="categmenu" id="categmenu">

        </ul>
    </div>

    <div class="menu" id="menu">

    </div>

</body>
    <script>
        var data = <%- data %>;
    </script>
</html>